
/* app main styles */

* {
	box-sizing: border-box;
}
body{
	font-family: sans-serif;
	letter-spacing: 1px;
}
h2 {
	font-size: 32px;
	line-height: 35px;
}
p {
	font-size: 16px;
	line-height: 25px;
	padding-top:15px;
	padding-bottom:15px;
}
blockquote {
	line-height: 28px;
}
img {
	width:100%;
	}
ul[data-type="slide"]{
	list-style: none;
	display:flex;
	padding-top:15px;
	padding-bottom: 15px;
}
ul[data-type="slide"] li {
	padding:5px;
}




/*====================================================
Vendor overwrites for lightgallery styles
========================================================
*/
.lg-outer {
  background-color: rgba(255, 255, 255, 1);
}

.lg-toolbar, .lg-prev, .lg-next {
  background-color: #fff !important;
}
.lg-icon{
  color: #822d1a !important;
}
.lg-icon:hover {
  color: #F9A01F !important;
}
.lg-sub-html{
  color: #888 !important;
  background-color: #fff !important;
}